<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<nav class="navbar">
		<div class="logo">
			<a href="/">"IT'S BLOG"</a>
		</div>
		<ul class="nav__items">
			<a sec:authorize="isAnonymous()" href="/auth/joinForm" class="nav__item">회원가입</a>
			<a sec:authorize="isAnonymous()" href="/auth/loginForm" class="nav__item">로그인</a>

			<a sec:authorize="isAuthenticated()" href="/board/writeForm" class="nav__item">글쓰기</a>
			<a sec:authorize="isAuthenticated()" href="/user/updateForm" class="nav__item">회원정보</a>
			<a sec:authorize="isAuthenticated()" href="/logout" class="nav__item">로그아웃</a>
		</ul>
	</nav>
</body>
</html>