<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<nav class="navbar">
		<div class="logo">
			<h3>mollani</h3>
		</div>
		<ul class="nav__items">
			<a th:if="${session.principal==null}" href="/auth/joinForm" class="nav__item">회원가입</a>
			<a th:if="${session.principal==null}" href="/auth/loginForm" class="nav__item">로그인</a>
			
			
			<a th:unless="${session.principal==null}" href="/board/writeForm" class="nav__item">글쓰기</a>
			<a th:unless="${session.principal==null}" href="/userForm" class="nav__item">회원정보</a>
			<a th:unless="${session.principal==null}" href="/logout" class="nav__item">로그아웃</a>
			
		</ul>
	</nav>
</body>
</html>