body {
    margin: 0px;
    padding: 0px;

    width: 100%;
    height: 100%;

    box-sizing: border-box;
}

/* navbar */
.navbar {
	
	position: fixed;
	top: 0px;
	left: 0px;
	
	width: 98%;
	
    background-color: transparent;
    display: flex;
    justify-content: space-between;

    padding: 20px;
    
    z-index: 1;
}

.navbar__white {
	background-color: white;
	opacity: 0.8
}

.logo a{
	
	margin-top: 20px;
	
    color: white;
    font-size: 25px;
    font-weight: 700;
    
    text-decoration: none;
};

.nav__items {
	margin: 0px;
}

.nav__item {
    margin-right: 10px;
    text-decoration: none;
    color: white;
    font-weight: 700;
}

.h3__black {
	color: black;
}

.nav__item--black {
	color: black;
	
}

.main__img {
	width: 100%;
	height: 500px;
}

.main__img--cover {
	position: absolute;
	top: 0px;
	left: 0px;
	
	width: 100%;
	height: 500px;
	
	opacity: 0.6;
	
	background-color : gray;
}

.main__title {
	position:absolute;
	
	top: 0px;
	left: 0px;
	
	width: 100%;
	height: 500px;
	
	display: flex;
	flex-direction: column;
	
	justify-content: center;
	align-items: center
}

.main__title h1 {
	font-size: 70px;
	color: white;
	
	margin-bottom: 0px;
}

.main__title h2 {
	font-size: 45px;
	color: white;
}


/* main section */

.lists {
    padding: 30px;

    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;

}

.blog__item {
	width: 600px;
	height: 100px;
}

.blog__title {
	text-decoration: none;
	color: black;
	
	font-weight: 700;
	font-size: 40px;
}

.blog__user--name {
    color: black
}

.underScore {
	width: 100%;
	height: 2px;
	background-color: #e0e0e0;
	
	margin-top: 20px;
}

/* next, previous button */

.previous {
	margin-right: 10px;
}

.next {
	margin-left : 10px;
}


/* footer */
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    border-top : 1px solid #e0e0e0;
    
    padding: 20px;
}

.footer button {
	
    width: 50px;
    height: 50px;

    font-size: 35px;
    background-color: transparent;

    border: none;
}

.footer span {
	font-size: 20px;
	font-weight: 700;
}
