<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="/static/css/style.css" />
	<title>Document</title>
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
	<script src="https://kit.fontawesome.com/0f941af2a1.js" crossorigin="anonymous"></script>
</head>
<body>
	<th:block th:replace="/fragment/navbar.html"></th:block>

	<div class="board__form">
		<form method="post">
			<div>
				<label for="title">title</label> <input type="text" class="input__form" placeholder="write title" id="title">
			</div>

			<div>
				<label for="content">content</label>
				<textarea id="content" class="content summernote"></textarea>
			</div>

		</form>

		<button class="write__btn">글쓰기</button>
	</div>
	<script>
      $('.summernote').summernote({
        placeholder: 'write your content',
        tabsize: 2,
        height: 120,
        toolbar: [
          ['style', ['style']],
          ['font', ['bold', 'underline', 'clear']],
          ['color', ['color']],
          ['para', ['ul', 'ol', 'paragraph']],
          ['table', ['table']],
          ['insert', ['link', 'picture', 'video']],
          ['view', ['fullscreen', 'codeview', 'help']]
        ]
      });
    </script>
	<th:block th:replace="/fragment/footer.html"></th:block>
		<script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
	<script src="/static/js/board.js"></script>
</body>
</html>