<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
   	<th:block th:replace="/fragment/head.html"></th:block>
    <body>
        <th:block th:replace="/fragment/navbar.html"></th:block>
        <section class="main">
            <div class="blog__item">
                <h2 class="blog__title">블로그 타이틀</h2>
                <h3 class="blog__user--name">문종성</h3>
                <button class="blog__description--button">상세보기</button>
            </div>
            <div class="blog__item">
                <h2 class="blog__title">블로그 타이틀</h2>
                <h3 class="blog__user--name">문종성</h3>
                <button class="blog__description--button">상세보기</button>
            </div>
            <div class="blog__item">
                <h2 class="blog__title">블로그 타이틀</h2>
                <h3 class="blog__user--name">문종성</h3>
                <button class="blog__description--button">상세보기</button>
            </div>
            <div class="blog__item">
                <h2 class="blog__title">블로그 타이틀</h2>
                <h3 class="blog__user--name">문종성</h3>
                <button class="blog__description--button">상세보기</button>
            </div>
            <div class="blog__item">
                <h2 class="blog__title">블로그 타이틀</h2>
                <h3 class="blog__user--name">문종성</h3>
                <button class="blog__description--button">상세보기</button>
            </div>
            <div class="blog__item">
                <h2 class="blog__title">블로그 타이틀</h2>
                <h3 class="blog__user--name">문종성</h3>
                <button class="blog__description--button">상세보기</button>
            </div>
            <div class="blog__item">
                <h2 class="blog__title">블로그 타이틀</h2>
                <h3 class="blog__user--name">문종성</h3>
                <button class="blog__description--button">상세보기</button>
            </div>
            <div class="blog__item">
                <h2 class="blog__title">블로그 타이틀</h2>
                <h3 class="blog__user--name">문종성</h3>
                <button class="blog__description--button">상세보기</button>
            </div>
        </section>
		<th:block th:replace="/fragment/footer.html"></th:block>
    </body>
</html>
