<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
   	<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<script src="https://kit.fontawesome.com/0f941af2a1.js" crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
	<link rel="stylesheet" href="/static/css/main_style.css" />
	<title>Document</title>
</head>
    <body>
        <th:block th:replace="/fragment/main_navbar.html"></th:block>
        <img src="/static/img/blogMain2.jpg" class=main__img>
        <div class="main__img--cover">
        </div>
        <div class="main__title">
        	<h1>"IT'S BLOG"</h1>
        	<h2>Welcome to "IT'S BLOG"</h2>
        </div>
        
        <section class="lists">
            <div th:each="board : ${boardList}" class="blog__item">
                <a th:href="@{/board/{id}(id=${board.id})}" th:utext="${board.title}" class="blog__title"></a></br>
                <span class="blog__user--name">Posted By [[${board.user.username}]] on [[${board.createDate}]]</span>
                <div class="underScore"></div>
            </div>
        </section>
        <div th:with="pages = ${boardList.number}, start = ${boardList.first}, end = ${boardList.last} " class="page__button">
        	<a th:href="${start} ? '#' : @{?(page=${pages - 1})}" class="previous"><i class="fa-solid fa-chevron-left"></i></a>
        	<a th:href="${end} ? '#' : @{?(page=${pages + 1})}" class="next"><i class="fa-solid fa-chevron-right"></i></a>
        </div>
		<th:block th:replace="/fragment/footer.html"></th:block>
		<script src='/static/js/page.js'></script>
    </body>
</html>
