<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<script src="https://kit.fontawesome.com/0f941af2a1.js" crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
	<link rel="stylesheet" href="/static/css/navbar.css" />
	<link rel="stylesheet" href="/static/css/signin_up.css" />
	<title>Document</title>
</head>
<body>
	<th:block th:replace="/fragment/other_navbar.html"></th:block>

	<div class="join__container">
		<form class="join__form" method="post">
			<h1>회원가입</h1>
			<div>
				<input type="text" name="username" class="input__form" placeholder="아이디를 입력해주세요" id="username">
			</div>

			<div>
				<input type="email" name="email" class="input__form" placeholder="이메일을 입력해주세요" id="email">
			</div>

			<div>
				<input type="password" name="password" class="input__form" placeholder="비밀번호를 입력해주세요" id="password">
			</div>
			
		</form>
		<div class="join__btn--container">
			<button class="join__btn">회원가입</button>
		</div>
	</div>

	<th:block th:replace="/fragment/footer.html"></th:block>
	<script src="/static/js/join.js"></script>
</body>
</html>