<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="/fragment/head.html"></th:block>
<body>
	<th:block th:replace="/fragment/navbar.html"></th:block>

	<div class="join__form">
		<form method="post">
			<div>
				<label for="username">Username</label> <input type="text" class="input__form" placeholder="Enter username" id="username">
			</div>

			<div>
				<label for="email">Email</label> <input type="email" class="input__form" placeholder="Enter email" id="email">
			</div>

			<div>
				<label for="password">Password</label> <input type="password" class="input__form" placeholder="Enter password" id="password">
			</div>
			<div>
				<input type="checkbox" id=remember> <label for="remember">remember me</label>
			</div>
		</form>
		
		<button class="join__btn">회원가입</button>
		

	</div>

	<th:block th:replace="/fragment/footer.html"></th:block>
	<script src="/static/js/join.js"></script>
</body>
</html>