<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="/fragment/head.html"></th:block>
<body>
	<th:block th:replace="/fragment/navbar.html"></th:block>

	<div class="login__form">
		<form action="#" method="post">
			<div>
				<label for="username">Username</label> <input type="text" name="username" class="input__form" placeholder="Enter username" id="username">
			</div>

			<div>
				<label for="password">Password</label> <input type="password" name="password" class="input__form" placeholder="Enter password" id="password">
			</div>
			<div>
				<input type="checkbox" name="remember" id=remember> <label for="remember">remember me</label>
			</div>

			<div>
				<button class='login__btn'>로그인</button>
			</div>
		</form>
	</div>

	<th:block th:replace="/fragment/footer.html"></th:block>
	<!-- <script src="/static/js/login.js"></script> -->
</body>
</html>