<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Document</title>
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
	<script src="https://kit.fontawesome.com/0f941af2a1.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/static/css/navbar.css" />
	<link rel="stylesheet" href="/static/css/updateForm.css" />
</head>
<body>
	<th:block th:replace="/fragment/other_navbar.html"></th:block>
	
	<div class="update__container">	
		<div class="update__form" th:with="detail=${details}">
			<input class="user__id" type="hidden" th:value=${detail.id}>
		
				<div class="title__update">
					<label for="title">제목</label> 
					<input th:value=${detail.title} type="text" class="input__form" placeholder="write title" id="title">
				</div>
	
				<div class="content__update">
					<label for="content">content</label>
					<textarea th:text="${detail.content}" id="content" class="content summernote"></textarea>
				</div>
			<button class="update__btn">글 수정</button>
		</div>
	</div>
	
	<th:block th:replace="/fragment/footer.html"></th:block>
	
	<script>
      $('.summernote').summernote({
        placeholder: 'write your content',
        tabsize: 2,
        height: 120,
        toolbar: [
          ['style', ['style']],
          ['font', ['bold', 'underline', 'clear']],
          ['color', ['color']],
          ['para', ['ul', 'ol', 'paragraph']],
          ['table', ['table']],
          ['insert', ['link', 'picture', 'video']],
          ['view', ['fullscreen', 'codeview', 'help']]
        ]
      });
    </script>
	<script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
	<script src="/static/js/board_update.js"></script>
</body>
</html>