<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<script src="https://kit.fontawesome.com/0f941af2a1.js" crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
	<link rel="stylesheet" href="/static/css/navbar.css" />
	<link rel="stylesheet" href="/static/css/user_update.css" />
	<title>Document</title>
</head>
<body>
	<th:block th:replace="/fragment/other_navbar.html"></th:block>

	<div class="user__update--container" th:with="principal=${#authentication.principal}">
		<h1 class=user__update--title>회원정보 수정</h1>
		<form class="user__update--form" method="post">
			<input class="user__id" type="hidden" th:value=${principal.user.id}>
			<div class="input__form">
				<label for="username">Username</label> <input th:value=${principal.user.username} type="text" name="username" class="input__form" placeholder="Enter username" id="username" readonly>
			</div>

			<div class="input__form">
				<label for="email">Email</label> <input th:value=${principal.user.email} type="email" name="email" class="input__form" placeholder="Enter email" id="email" readonly>
			</div>
			
			<div class="input__form" sec:authorize="principal.user.oauth==null">
				<label for="password">Password</label> <input type="password" name="password" class="input__form" placeholder="Enter password" id="password">
			</div>
		</form>
		<button class="user__update--btn">회원수정</button>
	</div>
	<th:block th:replace="/fragment/footer.html"></th:block>
	<script src="/static/js/user_update.js"></script>
</body>
</html>