<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="/fragment/head.html"></th:block>
<body>
	<th:block th:replace="/fragment/navbar.html"></th:block>

	<div th:with="principal=${#authentication.principal}"class="join__form">
		<form method="post">
			<input class="user__id" type="hidden" th:value=${principal.user.id}>
			<div>
				<label for="username">Username</label> <input th:value=${principal.user.username} type="text" name="username" class="input__form" placeholder="Enter username" id="username" readonly>
			</div>

			<div>
				<label for="email">Email</label> <input th:value=${principal.user.email} type="email" name="email" class="input__form" placeholder="Enter email" id="email">
			</div>

			<div>
				<label for="password">Password</label> <input type="password" name="password" class="input__form" placeholder="Enter password" id="password">
			</div>
			<div>
				<input type="checkbox" id=remember> <label for="remember">remember me</label>
			</div>
		</form>
		
		<button class="user__update--btn">회원수정</button>
		

	</div>

	<th:block th:replace="/fragment/footer.html"></th:block>
	<script src="/static/js/user_update.js"></script>
</body>
</html>